html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

p {
  text-align: center;
  color:white;
  size: 10px;
}
h1:hover{
  color: white;
}

body {
  line-height: 1;
  background-color: #0f264c;
   }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

body {
  font-family: sans-serif;
  color: #2a2a2a; }


#main {
  padding: 50px; }
#title{
  font-family: sans-serif;
  font-size: 40px;
  color:#000000;
  text-align: center;
  float:top;
  position:relative;
}
#textbody{
  font-family: sans-serif;
  font-size: 20px;
  color:#000000;
  float:top;
  position:relative;
}
.line {
  font-style: italic; 
  text-align: center;
  padding-left: 100px;
  padding-top: 20px;
}
#button1{
  position: sticky;
  left: 0;
  right: 0;
  height:20px;
  width:20%;
  background-color: #6e8ab7;
  text-align: center;
  vertical-align: top;
  display:block;
  float:left;
}
#button1:hover{
  background-color:#6e8ab7;
}
#button2{
  position: sticky;
  left: 20%;
  right: 0;
  height:20px;
  width:20%;
  background-color: #6e8ab7;
  text-align: center;
  vertical-align: top;
  display: block;
  float:left;
}
#button3{
  position: sticky;
  left: 30%;
  right: 0;
  height:20px;
  width:20%;
  background-color: #6e8ab7;
  text-align: center;
  vertical-align: top;
  display: block;
  float:left;
}
#button4{
  position: sticky;
  left: 60%;
  right: 0;
  height:20px;
  width:20%;
  background-color: #6e8ab7;
  text-align: center;
  vertical-align: top;
  display: block;
  float:left;
}
#button5{
  position: sticky;
  left: 80%;
  right: 0;
  height:20px;
  width:20%;
  background-color: #6e8ab7;
  text-align: center;
  vertical-align: top;
  display: block;
  float:left;
}
#button2:hover{
  background-color: #011a42;

}
#button1:hover{
  background-color: #011a42;
}
#button3:hover{
  background-color: #011a42;
}
#button4:hover{
  background-color: #011a42;
}
#button5:hover{
  background-color: #011a42;
}

.dropdown {
    position: relative;
    display: inline-block;
    width:100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: #f1f1f1}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .button2 {
    background-color: #3e8e41;
}